.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
*.apk
*.ap_

*.dex

*.class

bin/
gen/

local.properties
settings.gradle

Thumbs.db

.DS_Store

*.iml

obj/

*.swp
